 <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <h5>{{item.id }} : {{ item.name }}</h5>
          <ion-button (click)="showDetails = !showDetails">
            <ion-icon slot="start" [name]="showDetails ? 'eye-off' : 'eye'"></ion-icon>
            {{ showDetails ? 'Hide' : 'Show'}}
          </ion-button>
          <ion-button (click)="deleteActionSheet()">
            <ion-icon name="trash" slot="start"></ion-icon>
            Delete</ion-button>
          <ion-button [routerLink]="['/tabs/tab3/edit', item.id]" [state]="{item: this.item }">
            <ion-icon name="create" slot="start"></ion-icon>
            Edit</ion-button>
          <ion-card-content *ngIf="showDetails">
            <p>Category: {{ item.category }}</p>
            <p>Quantity: {{ item.quantity }}</p>
            <p>Price: {{ item.price }}</p>
            <p>Supplier Name: {{ item.supplierName }}</p>
            <p>Stock Status: {{ item.stockStatus }}</p>
            <p>
              Featured Item:
              <span [innerHTML]="item.featuredItem ? '✅' : '❌'"></span>
            </p>
            <p>Special Note: {{ item?.specialNote }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

