<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Item Edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input
        label="ID"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter ID (number)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Name"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter Name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Select a Category" [(ngModel)]="inputCategory">
        <div slot="label">Category <ion-text color="danger" *ngIf="!inputCategory">(Required)</ion-text></div>
        <ion-select-option value="Electronics">Electronics</ion-select-option>
        <ion-select-option value="Furniture">Furniture</ion-select-option>
        <ion-select-option value="Clothing">Clothing</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input
        label="Quantity"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter Quantity (number)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Price"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter Price (number)"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Supplier Name"
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter Supplier Name"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-select placeholder="Stock Status" [(ngModel)]="inputStock">
        <div slot="label">Stock Status <ion-text color="danger" *ngIf="!inputStock">(Required)</ion-text></div>
        <ion-select-option value="In Stock">In Stock</ion-select-option>
        <ion-select-option value="Low Stock">Low Stock</ion-select-option>
        <ion-select-option value="Out of Stock">Out of Stock</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Featured Item</ion-label>
      <ion-checkbox 
        slot="end" 
        [(ngModel)]="isFeatured" 
        aria-label="Mark as Featured"
      ></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-toggle [enableOnOffLabels]="true" [(ngModel)]="showNote">Special Note (Optional)</ion-toggle>
    </ion-item>

    <ion-item *ngIf="showNote">
      <ion-input
        labelPlacement="stacked"
        [clearInput]="true"
        placeholder="Enter the item special note here"
      ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="onAddButtonClick()">Add</ion-button>
</ion-content>




