<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Manage
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-item class="input-wrapper">
    <form [formGroup]="inputform" class="form-inline">
    <ion-input fill="outline" label="Item Name" labelPlacement="floating" placeholder="Enter text" formControlName="itemName"
    ></ion-input>
    <ion-button (click)="onSubmit()">Search</ion-button>
    </form>
  </ion-item >
  <h5>Search Result:</h5>
  <ng-container *ngIf="searchTrigger">
    <p *ngIf="resultItems.length === 0 && inputform.get('itemName')?.value">
      No results found for: {{ inputform.get('itemName')?.value }}
    </p>
    <p *ngIf="!inputform.get('itemName')?.value">
      Please enter an item name to start!
    </p>
    <ng-container *ngIf="resultItems.length > 0">
      <ion-list>
        <app-manage-item *ngFor="let item of resultItems" [item]="item.value" (itemDelete)="handleDelete($event)"></app-manage-item>
      </ion-list>
    </ng-container>
  </ng-container>
</ion-content>


