<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Manage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <form [formGroup]="inputform">
    <ion-input label="Item Name" labelPlacement="floating" placeholder="Enter text" formControlName="itemName"></ion-input>
    <ion-button (click)="onSubmit()">Search</ion-button>
    </form>
  </ion-item >
  <ion-item *ngIf="deleteSuccess">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h5>Search Result:</h5>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="searchSuccess">
        <ion-col>
          <ion-button (click)="deleteActionSheet()">Delete</ion-button>
          <ion-button [routerLink]="['/name', params]">Edit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>


