<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Manage
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <form [formGroup]="inputform">
    <ion-input label="Item Name" labelPlacement="floating" placeholder="Enter text"></ion-input>
    <ion-button (click)="onSubmit()">Go</ion-button>
    </form>
  </ion-item>
  <div>
    <ion-button (click)="doActionSheet()">Delete</ion-button>
    <ion-button [routerLink]= "['/name',params]">Edit</ion-button>
  </div>
</ion-content>
